$headerText: red;
$headerBackground: blue;
$asideFontColor: white;


@mixin body-font-style{
  font-family: Arial;
  color:black;
  font-size: 15px;
}

@mixin aside-style{
  background: crimson;
  color:$asideFontColor;
}

footer {
  background: darkgrey;
  p{
    color: white;
  }
}

nav {
  div {
    h1{
      color: red;
    }
  }
}

#aside-content{
  @include aside-style
}

h2{
  margin-top: 50px;
  margin-bottom: 80px;
  text-align: center;
}

input[type=text], input[type=email], select {
  width: 350px;
  padding: 10px;
  margin: 6px 0;
  border: 1px solid #aaa;
  border-radius: 4px;
}

label {
  text-align: right;
}

.my-row-1{
  height: 15%;
}

.my-row-2{
  height: 85%;
}

.my-input-fields{
  margin: 30px;
  div{
    margin: 20px;
  }
}

div.waiver-column {
  text-align: center }


div.waiver-column blockquote {
  margin-right: 200px;
}


#email-group{
  padding-left: 35px;
}

#form-dropdown{
  margin-top: 5px;
  margin-left: 190px;
}

#form-calendar{
  margin-top: 30px;
  margin-left: 190px;
}

#form-submit-button{
  margin: 190px 240px;
}
