$headerText: red;
$headerBackground: blue;
$asideFontColor: white;


@mixin body-font-style{
  font-family: Arial;
  color:black;
  font-size: 15px;
}

@mixin aside-style{
  background: crimson;
  padding-top: 20px;
  color:$asideFontColor;
}

footer {
  background: darkgrey;
  p{
    color: white;
  }
}

nav {
  div {
    h1{
      color: red;
    }
  }
}

#aside-content{
  @include aside-style
}
