body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: 60px auto 40px;
    grid-template-areas:
            "head head head"
            "nav main aside"
            "foot foot foot";
}

header {
    grid-area: head;
    background: blue;
}

nav {
    display: block;
    grid-area: nav;
    background: yellow;
    font-size: 20px;
}

main {
    grid-area: main;
    background: darkgray;
    padding: 15px;
    font-size: 30px;
}

aside {
    grid-area: aside;
    background: crimson;
    text-align: center;
    padding-top: 20px;
}

footer {
    grid-area: foot;
    background: darkseagreen;
}