$headerText: red;
$headerBackground: blue;
$asideFontColor: white;


@mixin body-font-style{
  font-family: Arial;
  color:black;
  font-size: 15px;
}

@mixin aside-style{
  background: crimson;
  color:$asideFontColor;
}

footer {
  background: darkgrey;
  p{
    color: white;
  }
}

nav {
  div {
    h1{
      color: red;
    }
  }
}

#aside-content{
  @include aside-style
}

h2{
  margin-top: 50px;
  margin-bottom: 80px;
  text-align: center;
}

input[type=text], input[type=email], select {
  width: 350px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.my-row-1{
  height: 15%;
}

.my-row-2{
  height: 85%;
}


.drop-down-class{
  margin-left: 20px;
}

.waiver-column{
  text-align: center;
  justify-content: center;
}

.flex-box-container{
  display: flex;
  position: absolute;
  bottom: 0;
}


#waiver-text{
  margin-top: 30px;
  padding: 50px;
  font-size: 18px;
}

#form-drop-down{
  padding-top: 20px;
}

#form-calendar{
  padding-top: 20px;
}

#form-submit{
  padding-top: 140px;

}
